@import url('https://fonts.googleapis.com/css2?family=Play&family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
}

.container{
  width:100% !important;
}

body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Play', sans-serif;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
  font-family: 'Playfair Display', serif;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

/* The page is split between map and sidebar - the sidebar gets 1/3, map
gets 2/3 of the page. You can adjust this to your personal liking. */
.sidebar {
  /* position: relative; */
  width: 25vw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  /* padding: 0 24px; */
}

/* .map {
  position: relative;
  left: 25%;
  width: 75vw;
  top: 0;
  bottom: 0;
} */

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;

}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.location-form {
  display: flex;
  width: 15%;
  flex-direction: column;
  background-color: red;
  position: absolute;
  right: 1%;
  top:1%;
  z-index: 3;
  padding: 24px;
}

.sgstPage{
  display: flex;
  flex-direction: row;
}

.location-form form {
  display: flex;
  flex-direction: column;
}

.suggest-wrapper{
  border-right: 1px solid #EEEEEE;
  height: 100vh;
}
.suggestForm{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 24px;
}

.loc-list-wrapper{
display: flex;
flex-direction: column;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  background-color: black;
  color: white;
  align-items: center;
  z-index:1;
  padding: 0 24px;
  

}

.navbar a{
  color:white;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
}

.navbar li{
  margin: 0;
}

.navbar h1{
  font-size: 40px;
  
}

.map-wrapper{
  margin:0;
  width:69% !important;
}

.loc-list span{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.loc-list-item{
list-style: none;
border-bottom: 1px solid #EEEEEE;
padding: 8px;
}

.home-div{
  background-image: url("../public/images/Public\ Art\ Walk.png");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.home-div h1{
  color:white;

  margin: 0 auto;
  font-size: 200px;
  font-family: 'Times New Roman', Times, serif;
}

.home-div button{
  color:white;

  margin: 0 auto;
  font-size: 20px;
}